# Checkpoint 2

## Lanjutan Data Undestanding

sumber dataset: https://www.kaggle.com/datasets/fahmidachowdhury/e-commerce-sales-analysis/data

In [ ]:
import pandas as pd

data = pd.read_csv("/content/ecommerce_sales_analysis.csv")
data

,product_id,product_name,category,price,review_score,review_count,sales_month_1,sales_month_2,sales_month_3,sales_month_4,sales_month_5,sales_month_6,sales_month_7,sales_month_8,sales_month_9,sales_month_10,sales_month_11,sales_month_12
0,1,Product_1,Clothing,190.40,1.7,220,479,449,92,784,604,904,446,603,807,252,695,306
1,2,Product_2,Home & Kitchen,475.60,3.2,903,21,989,861,863,524,128,610,436,176,294,772,353
2,3,Product_3,Toys,367.34,4.5,163,348,558,567,143,771,409,290,828,340,667,267,392
3,4,Product_4,Toys,301.34,3.9,951,725,678,59,15,937,421,670,933,56,157,168,203
4,5,Product_5,Books,82.23,4.2,220,682,451,649,301,620,293,411,258,854,548,770,257
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Product_996,Home & Kitchen,50.33,3.6,494,488,359,137,787,678,970,282,155,57,575,634,393
996,997,Product_997,Home & Kitchen,459.07,4.8,701,18,906,129,78,19,110,403,683,104,858,729,474
997,998,Product_998,Sports,72.73,1.3,287,725,109,193,657,215,337,664,476,265,344,888,654
998,999,Product_999,Sports,475.37,1.2,720,196,191,315,622,854,122,65,938,521,268,60,394
999,1000,Product_1000,Toys,225.77,2.1,114,890,903,983,769,134,704,648,400,495,839,611,110

### Tipe data kolom

In [ ]:
print("Tipe data untuk setiap kolom: \n")
data.dtypes

Tipe data untuk setiap kolom:

product_id          int64
product_name       object
category           object
price             float64
review_score      float64
review_count        int64
sales_month_1       int64
sales_month_2       int64
sales_month_3       int64
sales_month_4       int64
sales_month_5       int64
sales_month_6       int64
sales_month_7       int64
sales_month_8       int64
sales_month_9       int64
sales_month_10      int64
sales_month_11      int64
sales_month_12      int64
dtype: object

### Jumlah baris dan kolom
* (baris, kolom)

In [ ]:
data.shape

(1000, 18)

### Statistik Deskriptif

In [ ]:
print("Statistik deskriptif dataset ini: \n")
data.describe()

Statistik deskriptif dataset ini:

,product_id,price,review_score,review_count,sales_month_1,sales_month_2,sales_month_3,sales_month_4,sales_month_5,sales_month_6,sales_month_7,sales_month_8,sales_month_9,sales_month_10,sales_month_11,sales_month_12
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000
mean,500.500000,247.677130,3.027600,526.506000,498.306000,507.661000,506.739000,503.823000,487.194000,491.653000,507.011000,504.569000,491.934000,514.798000,505.83800,500.386000
std,288.819436,144.607983,1.171243,282.269932,289.941478,285.992689,294.010873,286.645567,287.844324,289.234018,291.047287,289.945691,287.514731,288.710119,288.82451,278.509459
min,1.000000,7.290000,1.000000,1.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,0.000000,1.000000,0.00000,4.000000
25%,250.750000,121.810000,2.000000,283.750000,245.500000,262.500000,243.750000,261.500000,221.000000,236.000000,254.000000,240.500000,247.250000,267.000000,251.25000,259.000000
50%,500.500000,250.920000,3.100000,543.000000,507.500000,508.000000,493.000000,501.500000,497.000000,479.500000,522.500000,499.500000,495.500000,532.000000,502.00000,500.500000
75%,750.250000,373.435000,4.000000,772.000000,740.750000,756.250000,777.250000,749.500000,727.000000,740.500000,757.250000,762.250000,735.250000,770.250000,761.00000,730.000000
max,1000.000000,499.860000,5.000000,999.000000,1000.000000,1000.000000,999.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000

### Korelasi

In [ ]:
data.corr(numeric_only=True)

,product_id,price,review_score,review_count,sales_month_1,sales_month_2,sales_month_3,sales_month_4,sales_month_5,sales_month_6,sales_month_7,sales_month_8,sales_month_9,sales_month_10,sales_month_11,sales_month_12
product_id,1.000000,-0.024495,-0.040197,-0.008827,0.018804,0.077879,0.032606,-0.029126,-0.005238,-0.024078,0.046554,-0.000281,-0.049009,0.023967,0.044788,-0.028809
price,-0.024495,1.000000,0.028960,0.042189,-0.033860,-0.002978,-0.023203,0.044579,0.030024,-0.051430,-0.027996,-0.045065,-0.008224,0.038288,0.007972,0.019081
review_score,-0.040197,0.028960,1.000000,0.027351,0.023949,-0.076709,-0.012420,-0.016875,-0.038930,0.017519,-0.005810,0.020471,0.019554,0.015707,0.002724,-0.012969
review_count,-0.008827,0.042189,0.027351,1.000000,-0.019286,-0.036431,-0.029381,-0.021719,-0.013798,-0.006579,0.029836,-0.000519,-0.020332,-0.063471,-0.031269,-0.026710
sales_month_1,0.018804,-0.033860,0.023949,-0.019286,1.000000,0.051889,0.006204,0.048705,0.016276,0.036269,0.034670,0.009454,0.042872,0.002146,0.006124,-0.036595
sales_month_2,0.077879,-0.002978,-0.076709,-0.036431,0.051889,1.000000,-0.012759,-0.100955,0.056114,0.035142,-0.040520,-0.022778,0.004930,-0.018488,-0.017643,0.022997
sales_month_3,0.032606,-0.023203,-0.012420,-0.029381,0.006204,-0.012759,1.000000,-0.011394,-0.009051,0.018806,-0.034335,-0.056523,-0.034046,0.057530,-0.010934,0.038111
sales_month_4,-0.029126,0.044579,-0.016875,-0.021719,0.048705,-0.100955,-0.011394,1.000000,-0.016243,0.046118,0.019064,0.006131,-0.017481,0.039054,0.044536,-0.032976
sales_month_5,-0.005238,0.030024,-0.038930,-0.013798,0.016276,0.056114,-0.009051,-0.016243,1.000000,0.036992,-0.013279,-0.012023,-0.020847,0.015713,0.032319,-0.041738
sales_month_6,-0.024078,-0.051430,0.017519,-0.006579,0.036269,0.035142,0.018806,0.046118,0.036992,1.000000,-0.007425,-0.050707,0.002852,-0.000288,-0.018171,-0.053489
sales_month_7,0.046554,-0.027996,-0.005810,0.029836,0.034670,-0.040520,-0.034335,0.019064,-0.013279,-0.007425,1.000000,-0.008216,0.088758,0.044156,-0.061681,-0.028484
sales_month_8,-0.000281,-0.045065,0.020471,-0.000519,0.009454,-0.022778,-0.056523,0.006131,-0.012023,-0.050707,-0.008216,1.000000,0.035478,-0.042316,-0.022835,0.004762
sales_month_9,-0.049009,-0.008224,0.019554,-0.020332,0.042872,0.004930,-0.034046,-0.017481,-0.020847,0.002852,0.088758,0.035478,1.000000,-0.013458,-0.057205,-0.017386
sales_month_10,0.023967,0.038288,0.015707,-0.063471,0.002146,-0.018488,0.057530,0.039054,0.015713,-0.000288,0.044156,-0.042316,-0.013458,1.000000,0.028136,-0.059175
sales_month_11,0.044788,0.007972,0.002724,-0.031269,0.006124,-0.017643,-0.010934,0.044536,0.032319,-0.018171,-0.061681,-0.022835,-0.057205,0.028136,1.000000,-0.010687
sales_month_12,-0.028809,0.019081,-0.012969,-0.026710,-0.036595,0.022997,0.038111,-0.032976,-0.041738,-0.053489,-0.028484,0.004762,-0.017386,-0.059175,-0.010687,1.000000

## Data Preparation
sumber dataset: https://www.kaggle.com/datasets/fahmidachowdhury/e-commerce-sales-analysis/data

### Pengcekkan Missing Values

In [ ]:
data.isna().sum() / len(data) * 100

product_id        0.0
product_name      0.0
category          0.0
price             0.0
review_score      0.0
review_count      0.0
sales_month_1     0.0
sales_month_2     0.0
sales_month_3     0.0
sales_month_4     0.0
sales_month_5     0.0
sales_month_6     0.0
sales_month_7     0.0
sales_month_8     0.0
sales_month_9     0.0
sales_month_10    0.0
sales_month_11    0.0
sales_month_12    0.0
dtype: float64

Pada dataset ini tidak memiliki missing values untuk setiap kolomnya

### Pengecekkan Duplikat

In [ ]:
data[data.duplicated()]

Empty DataFrame
Columns: [product_id, product_name, category, price, review_score, review_count, sales_month_1, sales_month_2, sales_month_3, sales_month_4, sales_month_5, sales_month_6, sales_month_7, sales_month_8, sales_month_9, sales_month_10, sales_month_11, sales_month_12]
Index: []

Pada dataset ini tidak ditemukan data yang duplikat

### Pengecekkan Outliers

In [ ]:
results = []

cols = data.select_dtypes(include=['float64', 'int64'])

for col in cols:
  q1 = data[col].quantile(0.25)
  q3 = data[col].quantile(0.75)
  iqr = q3 - q1
  lower_bound = q1 - 1.5*iqr
  upper_bound = q3 + 1.5*iqr
  outliers = data[(data[col] < lower_bound) | (data[col] > upper_bound)]
  percent_outliers = (len(outliers)/len(data))*100
  results.append({'Kolom': col, 'Persentase Outliers': percent_outliers})

# Dataframe dari list hasil
results_df = pd.DataFrame(results)
results_df.set_index('Kolom', inplace=True)
results_df = results_df.rename_axis(None, axis=0).rename_axis('Kolom', axis=1)

# Tampilkan dataframe
display(results_df)

Kolom           Persentase Outliers
product_id                      0.0
price                           0.0
review_score                    0.0
review_count                    0.0
sales_month_1                   0.0
sales_month_2                   0.0
sales_month_3                   0.0
sales_month_4                   0.0
sales_month_5                   0.0
sales_month_6                   0.0
sales_month_7                   0.0
sales_month_8                   0.0
sales_month_9                   0.0
sales_month_10                  0.0
sales_month_11                  0.0
sales_month_12                  0.0

Pada dataset ini tidak ditemukan adanya outliers

### Pengecekkan Inconsistent Values

* Pengecekkan nama kategori

In [ ]:
print(data['category'].unique())

['Clothing' 'Home & Kitchen' 'Toys' 'Books' 'Electronics' 'Health'
 'Sports']

* Pengecekkan rentang nilai (1-5)

In [ ]:
print(data['review_score'].min(), data['review_score'].max())

1.0 5.0

* Pengecekkan nilai numerik pada kolom price, review_score dan sales_month

In [ ]:
print(f"Jumlah nilai tidak valid pada kolom price: \n {pd.to_numeric(data['price'], errors='coerce').isnull().sum()}")
print(f"Jumlah nilai tidak valid pada kolom review_score: \n {pd.to_numeric(data['review_score'], errors='coerce').isnull().sum()}")

print("Jumlah nilai tidak valid pada kolom sales_month_1 - 12:")
cols = [f'sales_month_{x}' for x in range(1, 13)]
for col in cols:
  print(pd.to_numeric(data[col], errors='coerce').isnull().sum())

Jumlah nilai tidak valid pada kolom price:
 0
Jumlah nilai tidak valid pada kolom review_score:
 0
Jumlah nilai tidak valid pada kolom sales_month_1 - 12:
0
0
0
0
0
0
0
0
0
0
0
0

Pada dataset ini tidak ditemukan adanya inconsistent values

### Construct Data

* Penambahan kolom **total_sales** (Total penjualan setiap produk dalam setahun) dan kolom **rangking_sales** (peringkat setiap produk berdasarkan total penjualan)

In [ ]:
data['total_sales'] = data[[f'sales_month_{x}' for x in range(1, 13)]].sum(axis=1)
data['ranking_sales'] = data['total_sales'].rank(method='dense', ascending=False).astype(int)
data

,product_id,product_name,category,price,review_score,review_count,sales_month_1,sales_month_2,sales_month_3,sales_month_4,sales_month_5,sales_month_6,sales_month_7,sales_month_8,sales_month_9,sales_month_10,sales_month_11,sales_month_12,total_sales,ranking_sales
0,1,Product_1,Clothing,190.40,1.7,220,479,449,92,784,604,904,446,603,807,252,695,306,6421,302
1,2,Product_2,Home & Kitchen,475.60,3.2,903,21,989,861,863,524,128,610,436,176,294,772,353,6027,425
2,3,Product_3,Toys,367.34,4.5,163,348,558,567,143,771,409,290,828,340,667,267,392,5580,580
3,4,Product_4,Toys,301.34,3.9,951,725,678,59,15,937,421,670,933,56,157,168,203,5022,729
4,5,Product_5,Books,82.23,4.2,220,682,451,649,301,620,293,411,258,854,548,770,257,6094,409
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Product_996,Home & Kitchen,50.33,3.6,494,488,359,137,787,678,970,282,155,57,575,634,393,5515,601
996,997,Product_997,Home & Kitchen,459.07,4.8,701,18,906,129,78,19,110,403,683,104,858,729,474,4511,811
997,998,Product_998,Sports,72.73,1.3,287,725,109,193,657,215,337,664,476,265,344,888,654,5527,595
998,999,Product_999,Sports,475.37,1.2,720,196,191,315,622,854,122,65,938,521,268,60,394,4546,806
999,1000,Product_1000,Toys,225.77,2.1,114,890,903,983,769,134,704,648,400,495,839,611,110,7486,63

* Penambahan kolom **price_per_unit_sales** (rasio harga produk dan volume penjualan)

In [ ]:
data['price_per_unit_sales'] = data['price'] / data['total_sales']
data

,product_id,product_name,category,price,review_score,review_count,sales_month_1,sales_month_2,sales_month_3,sales_month_4,...,sales_month_6,sales_month_7,sales_month_8,sales_month_9,sales_month_10,sales_month_11,sales_month_12,total_sales,ranking_sales,price_per_unit_sales
0,1,Product_1,Clothing,190.40,1.7,220,479,449,92,784,...,904,446,603,807,252,695,306,6421,302,0.029653
1,2,Product_2,Home & Kitchen,475.60,3.2,903,21,989,861,863,...,128,610,436,176,294,772,353,6027,425,0.078912
2,3,Product_3,Toys,367.34,4.5,163,348,558,567,143,...,409,290,828,340,667,267,392,5580,580,0.065832
3,4,Product_4,Toys,301.34,3.9,951,725,678,59,15,...,421,670,933,56,157,168,203,5022,729,0.060004
4,5,Product_5,Books,82.23,4.2,220,682,451,649,301,...,293,411,258,854,548,770,257,6094,409,0.013494
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Product_996,Home & Kitchen,50.33,3.6,494,488,359,137,787,...,970,282,155,57,575,634,393,5515,601,0.009126
996,997,Product_997,Home & Kitchen,459.07,4.8,701,18,906,129,78,...,110,403,683,104,858,729,474,4511,811,0.101767
997,998,Product_998,Sports,72.73,1.3,287,725,109,193,657,...,337,664,476,265,344,888,654,5527,595,0.013159
998,999,Product_999,Sports,475.37,1.2,720,196,191,315,622,...,122,65,938,521,268,60,394,4546,806,0.104569
999,1000,Product_1000,Toys,225.77,2.1,114,890,903,983,769,...,704,648,400,495,839,611,110,7486,63,0.030159

* Menambahkan kolom **peak_sales_month** (bulan dengan penjualan tertinggi pada setiap produk)

In [ ]:
data['peak_sales_month'] = data[[f'sales_month_{x}' for x in range(1, 13)]].idxmax(axis=1)
data

,product_id,product_name,category,price,review_score,review_count,sales_month_1,sales_month_2,sales_month_3,sales_month_4,...,sales_month_7,sales_month_8,sales_month_9,sales_month_10,sales_month_11,sales_month_12,total_sales,ranking_sales,price_per_unit_sales,peak_sales_month
0,1,Product_1,Clothing,190.40,1.7,220,479,449,92,784,...,446,603,807,252,695,306,6421,302,0.029653,sales_month_6
1,2,Product_2,Home & Kitchen,475.60,3.2,903,21,989,861,863,...,610,436,176,294,772,353,6027,425,0.078912,sales_month_2
2,3,Product_3,Toys,367.34,4.5,163,348,558,567,143,...,290,828,340,667,267,392,5580,580,0.065832,sales_month_8
3,4,Product_4,Toys,301.34,3.9,951,725,678,59,15,...,670,933,56,157,168,203,5022,729,0.060004,sales_month_5
4,5,Product_5,Books,82.23,4.2,220,682,451,649,301,...,411,258,854,548,770,257,6094,409,0.013494,sales_month_9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Product_996,Home & Kitchen,50.33,3.6,494,488,359,137,787,...,282,155,57,575,634,393,5515,601,0.009126,sales_month_6
996,997,Product_997,Home & Kitchen,459.07,4.8,701,18,906,129,78,...,403,683,104,858,729,474,4511,811,0.101767,sales_month_2
997,998,Product_998,Sports,72.73,1.3,287,725,109,193,657,...,664,476,265,344,888,654,5527,595,0.013159,sales_month_11
998,999,Product_999,Sports,475.37,1.2,720,196,191,315,622,...,65,938,521,268,60,394,4546,806,0.104569,sales_month_8
999,1000,Product_1000,Toys,225.77,2.1,114,890,903,983,769,...,648,400,495,839,611,110,7486,63,0.030159,sales_month_3

* Penambahan kolom **total_review_score** (bobot penilaian setiap produk)

In [ ]:
data['total_review_score'] = data['review_score'] * data['review_count']
data

,product_id,product_name,category,price,review_score,review_count,sales_month_1,sales_month_2,sales_month_3,sales_month_4,...,sales_month_8,sales_month_9,sales_month_10,sales_month_11,sales_month_12,total_sales,ranking_sales,price_per_unit_sales,peak_sales_month,total_review_score
0,1,Product_1,Clothing,190.40,1.7,220,479,449,92,784,...,603,807,252,695,306,6421,302,0.029653,sales_month_6,374.0
1,2,Product_2,Home & Kitchen,475.60,3.2,903,21,989,861,863,...,436,176,294,772,353,6027,425,0.078912,sales_month_2,2889.6
2,3,Product_3,Toys,367.34,4.5,163,348,558,567,143,...,828,340,667,267,392,5580,580,0.065832,sales_month_8,733.5
3,4,Product_4,Toys,301.34,3.9,951,725,678,59,15,...,933,56,157,168,203,5022,729,0.060004,sales_month_5,3708.9
4,5,Product_5,Books,82.23,4.2,220,682,451,649,301,...,258,854,548,770,257,6094,409,0.013494,sales_month_9,924.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Product_996,Home & Kitchen,50.33,3.6,494,488,359,137,787,...,155,57,575,634,393,5515,601,0.009126,sales_month_6,1778.4
996,997,Product_997,Home & Kitchen,459.07,4.8,701,18,906,129,78,...,683,104,858,729,474,4511,811,0.101767,sales_month_2,3364.8
997,998,Product_998,Sports,72.73,1.3,287,725,109,193,657,...,476,265,344,888,654,5527,595,0.013159,sales_month_11,373.1
998,999,Product_999,Sports,475.37,1.2,720,196,191,315,622,...,938,521,268,60,394,4546,806,0.104569,sales_month_8,864.0
999,1000,Product_1000,Toys,225.77,2.1,114,890,903,983,769,...,400,495,839,611,110,7486,63,0.030159,sales_month_3,239.4

### Data Reduction

* Penghapusan kolom **product_name** karena pada kolom "product_id" sudah mengidentifikasi setiap produk

In [ ]:
data = data.drop('product_name', axis=1)
data

,product_id,category,price,review_score,review_count,sales_month_1,sales_month_2,sales_month_3,sales_month_4,sales_month_5,...,sales_month_8,sales_month_9,sales_month_10,sales_month_11,sales_month_12,total_sales,ranking_sales,price_per_unit_sales,peak_sales_month,total_review_score
0,1,Clothing,190.40,1.7,220,479,449,92,784,604,...,603,807,252,695,306,6421,302,0.029653,sales_month_6,374.0
1,2,Home & Kitchen,475.60,3.2,903,21,989,861,863,524,...,436,176,294,772,353,6027,425,0.078912,sales_month_2,2889.6
2,3,Toys,367.34,4.5,163,348,558,567,143,771,...,828,340,667,267,392,5580,580,0.065832,sales_month_8,733.5
3,4,Toys,301.34,3.9,951,725,678,59,15,937,...,933,56,157,168,203,5022,729,0.060004,sales_month_5,3708.9
4,5,Books,82.23,4.2,220,682,451,649,301,620,...,258,854,548,770,257,6094,409,0.013494,sales_month_9,924.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Home & Kitchen,50.33,3.6,494,488,359,137,787,678,...,155,57,575,634,393,5515,601,0.009126,sales_month_6,1778.4
996,997,Home & Kitchen,459.07,4.8,701,18,906,129,78,19,...,683,104,858,729,474,4511,811,0.101767,sales_month_2,3364.8
997,998,Sports,72.73,1.3,287,725,109,193,657,215,...,476,265,344,888,654,5527,595,0.013159,sales_month_11,373.1
998,999,Sports,475.37,1.2,720,196,191,315,622,854,...,938,521,268,60,394,4546,806,0.104569,sales_month_8,864.0
999,1000,Toys,225.77,2.1,114,890,903,983,769,134,...,400,495,839,611,110,7486,63,0.030159,sales_month_3,239.4

### Menyimpan Data

In [ ]:
save = "data_ecommerce_sales.xlsx"
data.to_excel(save, index=False)

print(f"Data berhasil disimpan ke dalam: {save}")

Data berhasil disimpan ke dalam: data_ecommerce_sales.xlsx